@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin: 0;  padding: 0; text-decoration: none;}

html {
    scroll-behavior: smooth;
}

header{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  opacity: 70%;
}
header ul{
  border: 0px solid white;
  width: 1200px;
  height: 75px;
  display: flex;
  justify-content: center;
}
header ul li{
  border: 0px solid red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{width: 100px;}
.menu2{width: 70%;}
.menu3{
  width: 125px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.menu3:hover{background-color: #434343;}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  white-space : nowrap;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
}

.title{
  border: 0px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-left{
  border: 0px solid red;
}

.title-right{
  border: 0px solid blue;
}

.back{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.text00-01{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}

.text00-02{
  margin-top: 10px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}

.text00-03{
  margin-top: 54px;
  white-space : nowrap;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: capitalize;
}

.center0{
  margin-left: 200px;
}

.text00-04{
  white-space : nowrap;
  text-align: right;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  bottom: -76px;
}

.img00{
  margin-top: 30px;
  position: relative;
  bottom: -76px;
}

.img00-1{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zone{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text01-1{
  font-weight: 700;
  font-size: 30px;
  transform: translatex(-550px);
}

.text01-2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  transform: translatex(-550px);
  margin-bottom: 50px;
}

.img01-03 img{
  margin-left: 70px;
  margin-right: 70px;
}

.text02-1{
  font-weight: 700;
  font-size: 30px;
  transform: translatex(-595px);
}

.text02-2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  transform: translatex(-595px);
  margin-bottom: 50px;
}

.img02{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.more{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
}

.text03-1{
  font-weight: 700;
  font-size: 30px;
  transform: translatex(-610px);
}

.text03-2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  transform: translatex(-610px);
  margin-bottom: 50px;
}

.text04-1{
  font-weight: 700;
  font-size: 30px;
  transform: translatex(-625px);
}

.text04-2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  transform: translatex(-625px);
  margin-bottom: 50px;
}

.text05-1{
  font-weight: 700;
  font-size: 30px;
  transform: translatex(-565px);
}

.text05-2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  transform: translatex(-565px);
  margin-bottom: 50px;
}









.line{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

details {
  width: 1100px;
    margin-bottom: 1rem;
}

details > summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313131;
  padding: 0.5rem;
  outline: 0;
  border-radius: 10px;
}

details > summary::-webkit-details-marker {
  transform: rotate3d(0, 0, 100, 90deg);
  transition: transform 0.25s;
}
details[open] > summary {
  background: #515151;
}
details[open] > summary ~ * {
  animation: reveal 0.5s;
}
@keyframes reveal {
    from {opacity: 0;
        transform: translate3d(0, -10px, 0);}
    to {opacity: 1;
        transform: translate3d(0, 0, 0);}
}
