@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin: 0;  padding: 0; text-decoration: none;}

html {
    scroll-behavior: smooth;
}

header{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  opacity: 70%;
}
header ul{
  border: 0px solid white;
  width: 1200px;
  height: 75px;
  display: flex;
  justify-content: center;
}
header ul li{
  border: 0px solid red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{width: 100px;}
.menu2{width: 70%;}
.menu3{
  width: 125px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.menu3:hover{background-color: #434343;}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  white-space : nowrap;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
}

.title{
  border: 0px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-left{
  border: 0px solid red;
}

.title-right{
  border: 0px solid blue;
}

.back{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.text00-01{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}

.text00-02{
  margin-top: 10px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}

.text00-03{
  margin-top: 54px;
  white-space : nowrap;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: capitalize;
}

.center0{
  margin-left: 385px;
}

.text00-04{
  white-space : nowrap;
  text-align: right;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  bottom: -63px;
}

.img00{
  margin-top: 30px;
  position: relative;
  bottom: -63px;
}


.zone01{
  margin-top: 150px;
  display: flex;
  justify-content: center;
}


.text01-1{
  font-weight: 700;
  font-size: 30px;
}

.text01-2{
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}

.center1{
  margin-left: 323px;
}

.img01{
}

.zone02{
  display: flex;
  justify-content: center;
}

.img02-01 {
}

.center02{
  margin-left: 211px;
}

.text02-1{
  font-weight: 700;
  font-size: 30px;
}

.text02-2{
  font-weight: 300;
  font-size: 15px;
}

.text02{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text02-3{
  font-weight: 300;
  font-size: 18px;
  margin-right: 69px;
}

.text02-4{
  font-weight: 300;
  font-size: 18px;
}

.img02-01{
}





.line{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
